<div class="customMenu container">
    <div class="col-12">
        <ul class="menuList">
            <li>
                <a href="">
                    <i class="fas fa-th"></i>
                    <br>
                    Blogs
                </a>
            </li>
            <li>
                <a href="">
                <i class="fas fa-user-alt"></i>
                <br>
                Powerd By
                </a>
            </li>
            <li style="opacity: 0.5;">
                <a href="#" onclick="csMenu()">
                <i class="fas fa-vr-cardboard"></i>
                <br>
                Ar Vr
                </a>
            </li>
            <li style="opacity: 0.5;">
                <a href="#" onclick="csMenu()">
                <i class="far fa-calendar-alt"></i>
                <br>
                Events
                </a>
            </li>
        </ul>
    </div>
</div>
<script>

    function csMenu(){
        alert("Comming Soon, you can't access right now")
    }
</script>