<div class="customMenu container">
    <div class="col-12">
        <ul class="menuList">
            <li>
                <a href="">
                    <i class="fas fa-th"></i>
                    <br>
                    Blogs
                </a>
            </li>
            <li>
                <a href="">
                <i class="fas fa-user-alt"></i>
                <br>
                Powerd By
                </a>
            </li>
            <li style="opacity: 0.5;">
                <a href="#" onclick="csMenu()">
                <i class="fas fa-vr-cardboard"></i>
                <br>
                Ar Vr
                </a>
            </li>
            <li style="opacity: 0.5;">
                <a href="#">
                <i class="far fa-calendar-alt"></i>
                <br>
                Events
                </a>
            </li>
            <li>
                <a href="#" onclick="csMenu()">
                    <i class="fas fa-cog"></i>
                    <br>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="setting_menu" class="setting_menu">
    <div onclick="closeCsMenu()" class="contentCloseBtn">
      <i id="close-menu" class="fas fa-times menu-link"></i>
    </div>
    <div class="settingImages">
        <img style="border-bottom: 1px solid white;" src="/images/View_Control.png" alt="">
        <img src="/images/zoomInOut.png" alt="">
    </div>
  </div>
<script>
    let setting_menu = document.getElementById("setting_menu");
    setting_menu.style.display = 'none';
    function closeCsMenu(){
        setting_menu.style.display = 'none'
    }
    function csMenu(){
        setting_menu.style.display = 'block';
    }
</script>