<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars</title>
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link href="/css/bootstrap.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/button.css">
</head>
<div>
    <!-- header start -->
    <a class="btn menuBtnLeft" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <i class="fas fa-info"></i>
      </a>
      
      
      <div class="offcanvas offcanvas-start leftSidebar" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mars</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        <i data-bs-dismiss="offcanvas" aria-label="Close" class="fas fa-times sidebarCancelIcon"></i>
        </div>
        <div class="offcanvas-body">
          <div class="profile-img">
            <img src="/images/planet/mars.png" alt="">
          </div>
          <div class="profile-table mt-4">
            <table class="table table-hover table-dark">
              <tbody>
                <tr>
                  <th scope="row">Moons</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th scope="row">Mass</th>
                  <td>10 * 24</td>
                </tr>
                <tr>
                  <th scope="row">Distance from sun</th>
                  <td>1,45,454,000 km</td>
                </tr>
                <tr>
                  <th scope="row">Day equal to</th>
                  <td>24.5 hour</td>
                </tr>
                <tr>
                  <th scope="row">Year equal to</th>
                  <td>687 earth day</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <h5>In Depth</h5> -->
          <nav class="profile-menu">
            <ul>
              <li><a data-bs-dismiss="offcanvas" href="#" class="menu-link" data-target="menu1">Overview</a></li>
              <li><a data-bs-dismiss="offcanvas" href="#" class="menu-link" data-target="menu2">Formation</a></li>
              <li><a data-bs-dismiss="offcanvas" href="#" class="menu-link" data-target="menu3">Atmosphere</a></li>
              <li><a data-bs-dismiss="offcanvas" href="#" class="menu-link" id="close-menu">Geology</a></li>
              <li><a data-bs-dismiss="offcanvas" href="#" class="menu-link" id="close-menu">Orbit & Rotation</a></li>
              <li><a data-bs-dismiss="offcanvas" href="#" class="menu-link" id="close-menu">Life Posiblity</a></li>
              <li><a data-bs-dismiss="offcanvas" href="#" class="menu-link" id="close-menu">Current Mission</a></li>
              <li><a data-bs-dismiss="offcanvas" href="#" class="menu-link" id="close-menu">Future Mission</a></li>

            </ul>
          </nav>
        </div>
      </div>
      
      
      <!-- 2nd canvas -->
      <a class="btn menuBtnRight" data-bs-toggle="offcanvas" href="#offcanvasExample2" role="button" aria-controls="offcanvasExample2">
        <i class="fas fa-bars"></i>
      </a>
      
      
      <div class="offcanvas offcanvas-end rightSidebar" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    <!-- header end -->
    <div class="">
    <!-- content start -->
    <div class="menu-content" id="menu1">
      <div class="contentCloseBtn">
        <i id="close-menu" class="fas fa-times menu-link"></i>
      </div>
        <h2>Overview</h2>
        <p>Mars, often referred to as the "Red Planet" due to its distinctive reddish hue, is the fourth planet from the Sun in our solar system. It holds a special place in human imagination and scientific exploration due to its potential as a destination for future space missions and its similarities to Earth in some respects. Here's an overview of the fascinating planet Mars.

          <br>
          <strong>Physical Characteristics:</strong>
          Mars has a diameter of about 6,779 kilometers (4,212 miles), roughly half the size of Earth. It has a thin atmosphere composed mostly of carbon dioxide (95.3%), with traces of nitrogen and argon. The atmosphere is much less dense than Earth's, which has significant implications for its climate and surface conditions.
          
          <br>
          <strong>Surface Features:</strong>
          The Martian surface is marked by a diverse array of geological features. It is home to both the tallest volcano in the solar system, Olympus Mons, and one of the deepest and longest canyon systems, Valles Marineris. The planet also features large impact basins, polar ice caps, and various types of terrains, including deserts, rocky plains, and ancient river valleys.
          
          <br>
          <strong>Polar Ice Caps:</strong>
          Mars has polar ice caps composed of water and carbon dioxide frost. During the planet's winter, these caps expand as the carbon dioxide in the atmosphere freezes, and they recede during its summer. The polar ice caps play a role in shaping the planet's climate and providing insights into its past climate changes.
          
          <br>
          <strong>Water on Mars:</strong>
          Evidence suggests that Mars once had liquid water flowing on its surface. Ancient river valleys, dried-up lakebeds, and minerals that can only form in the presence of liquid water provide clues to its watery past. However, the majority of this water is now frozen in the polar ice caps or exists as subsurface ice.
          
          <br>
          <strong>Exploration and Missions:</strong>
          Mars has been the subject of numerous space missions aimed at studying its surface, atmosphere, and potential for hosting life. These missions include orbiters like the Mars Reconnaissance Orbiter and rovers like Spirit, Opportunity, and Curiosity. Notably, the Perseverance rover, which landed in 2021, is designed to search for signs of past microbial life, collect soil and rock samples for future return missions, and test new technologies for human exploration.
          
          <br>
          <strong>Possibility of Life:</strong>
          The search for life on Mars remains a central focus of exploration. While the harsh surface conditions and low atmospheric pressure make it unlikely for complex life as we know it to exist on the surface, there is interest in the potential for microbial life in more hospitable subsurface environments, such as underground aquifers.
          
          <br>
          <strong>Future Exploration and Colonization:</strong>
          Mars continues to capture the imagination of scientists, engineers, and space enthusiasts. Plans for human missions to Mars are being developed by space agencies and private companies. The challenges of long-duration space travel, radiation exposure, and life support systems are being addressed as steps are taken toward the eventual goal of establishing a human presence on the planet.
          
          In summary, Mars is a dynamic and intriguing planet with a complex geology, a history of water, and the potential to hold answers to questions about the origins of life and the habitability of other planets. Ongoing and future missions to Mars promise to uncover more about its mysteries and pave the way for human exploration beyond Earth.</p>
      </div>
      
      <div class="menu-content" id="menu2">
        <h2>Menu 2 Content</h2>
        <p>This is the content of Menu 2.</p>
      </div>
      
      <div class="menu-content" id="menu3">
        <h2>Menu 3 Content</h2>
        <p>This is the content of Menu 3.</p>
      </div>
    </div>  
    <!-- content end -->


    <!-- controls start -->
    <div class="controls">
        <button id="btnForward" class="control-button">
            <i class="fas fa-caret-square-up"></i>
            <h6>W</h6>
        </button>
        <button id="btnBackward" class="control-button">
            <h6>S</h6>
            <i class="fas fa-caret-square-down"></i>
        </button>
        <button id="btnStrafeLeft" class="control-button">
            <i class="fas fa-caret-square-left"></i>
            <h6>A</h6>
        </button>
        <button id="btnStrafeRight" class="control-button">
            <i class="fas fa-caret-square-right"></i>
            <h6>D</h6>
        </button>
        <p class="moveP m-0">Movement</p>
      </div>
      
      <div class="controls">
          <button id="btnUp" class="control-button"><i class="fas fa-long-arrow-alt-up"></i></button>
          <button id="btnDown" class="control-button"><i class="fas fa-long-arrow-alt-down"></i></button>
          <button id="btnLeftCam" class="control-button"><i class="fas fa-long-arrow-alt-left"></i></button>
          <button id="btnRightCam" class="control-button"><i class="fas fa-long-arrow-alt-right"></i></button>
          <p class="viewP m-0">View</p>
        </div>
    <!-- controls end -->
<script src="/js/bootstrap_popper.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src="/modules/three.min.js"></script>
<script src="/modules/OrbitControl.js"></script>
<script src="/pages/planet/control.js"></script>
<script src="/pages/planet/terrain.js"></script>
<script src="/pages/planet/planet.js"></script>
<script src="/js/offcanvas.js"></script>
</body>
</html>