body {
    font-family: Arial, sans-serif;
  }
  .planetCard{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: max-content;
    background-color: rgb(255 255 255 / 23%);
    border: 1px solid white;
    border-radius: 25px;
    padding: 0px 20px 20px 20px;
    cursor: pointer;
  }
  .planetCard img{
    height: 80%;
    width: auto;
  }
  .planetCard .cardImg{
    height: 250px;
    text-align: center;
  }
  @media screen and (max-width:500px){
    .planetCard .row .cardImg{
      height: 150px;
      text-align: center;
    }
    .planetCard img{
      height: 100%;
      width: auto;
    }
  }
  @media screen and (width>1000px){
    .planetCard{
      width: 50%;
    }
    .planetCard .row .cardImg img{
      height: 100%;
    }
  }
  .cardCloseBtn{
    text-align: center;
  }
  .cardCloseBtn i{
    background-color: white;
    padding: 5px 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .visitBtn{
    text-align: center;
  }
  .visitBtn a{
    background-color: #1c1f22;
    color: white;
    width: 100%;
    font-family: math;
    font-weight: bold;
  }
  .visitBtn a:hover{
    background-color: #1a1c1f;
    color: white;
    border-bottom: 1px solid white;
  }
  .profile-menu {
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .profile-menu ul {
    list-style-type: none;
    padding: 0;
    display: grid;
  }
  
  .profile-menu li {
    display: inline;
    margin-right: 15px;
    background: #2125298a;
    padding: 10px 0px;
    border-bottom: 1px solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .menu-link {
    color: #fff;
    text-decoration: none;
  }
  
  .menu-content{
    display: none;
    padding: 0px 20px 20px 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.863);
    top: 5%;
    right: 5%;
    left: 5%;
    z-index: 1;
    height: 500px;
    overflow-y: scroll;
  }
  .menu-content::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
  }
  .menu-content::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  .menu-content::-webkit-scrollbar-thumb{
    background-color: #fff;
  }
  .offcanvas-body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
  }
  .offcanvas-body::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  .offcanvas-body::-webkit-scrollbar-thumb{
    background-color: #fff;
  }
  .menu-content h2 {
    color: #333;
  }
  .menu-content p {
    color: #666;
  }
  .contentCloseBtn{
    text-align: center;
    position: fixed;
    left: 48.5%;
  }
  .contentCloseBtn i{
    background-color:rgba(255, 255, 255, 0.438);
    color: white;
    padding: 5px 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
  }
  /* setting_menu css */
  .setting_menu{
    padding: 0px 20px 20px 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.863);
    top: 5%;
    right: 5%;
    left: 5%;
    z-index: 1;
    height: 500px;
    overflow-y: scroll;
  }
  .setting_menu::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
  }
  .setting_menu::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  .setting_menu::-webkit-scrollbar-thumb{
    background-color: #fff;
  }
  .settingImages{
    max-width: 100%;
    height: auto;
    display: block;
    text-align: center
  }
  .settingImages img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  @media screen and (max-width:450px) {
    .contentCloseBtn{
      left: 44.5% !important;
    }
  }
  @media screen and (max-width:749px) {
    .contentCloseBtn{
      left: 47%;
    }
  }
  .menuBtnLeft, .menuBtnRight{
    background-color: #0000009e;
    color: white;
    position: absolute;
  }
  .menuBtnLeft:hover{
    background-color: rgba(255, 255, 255, 0.644);
  }
  .menuBtnRight:hover{
    background-color: rgba(255, 255, 255, 0.644);
  }
  .menuBtnLeft{
    top: 1.5%;
    left: 1%;
  }
  .menuBtnRight{
    top: 1.5%;
    right: 1%;
  }
  @media screen and (max-width:500px) {
    .menuBtnLeft{
      top: 1%;
      left: 1.4%;
    }
    .menuBtnRight{
      top: 1%;
      right: 1.4%;
    }
    .menu-content{
      top: 10% !important;
    }
  }
  /* sidebar */
  .leftSidebar, .rightSidebar{
    background-color: #0d0d0dcc;
    color: white;

  }
  .sidebarCancelIcon{
    cursor: pointer;
    color: white;
    font-size: 25px;
  }
  .profileBtn{
    background-color: white;
    color: #1c1f22;
    padding: 5px 10px;
    border-radius: 5px;
  }
.profile-img{
  text-align: center;
}
.profile-img img{
  height: 200px;
  width: 200px;
}
.profile-table table{
  background-color: #2125298a;
}
img.objectOverviewProfileImg{
  width: 100%;
}
.objectOverview .objectOverviewList a{
  background-color: #ffffff2b;
  padding: 5px 5px;
  border-radius: 5px;
  border-bottom: 3px solid black;
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}
.objectOverview .objectOverviewList a:hover{
  background-color: #ffffff34;
  border-bottom: none;
}
.objOverviewTitle{
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}
.objOverviewTitle h5{
  font-family: 'Bebas Neue', sans-serif;
}
/* -------MENU CSS----- */
.customMenu ul.menuList{
  background-color: #ffffff30;
  width: max-content;
  margin: auto;
  padding: 10px 15px 0px 15px;
  border-radius: 9px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
.customMenu ul.menuList li{
  display: inline-block;
  margin: 0px 10px;
}
.customMenu ul.menuList li a{
  text-decoration: none;
  color: white;
}
.customMenu{
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}