body {
    font-family: Arial, sans-serif;
  }
  
  .profile-menu {
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .profile-menu ul {
    list-style-type: none;
    padding: 0;
    display: grid;
  }
  
  .profile-menu li {
    display: inline;
    margin-right: 15px;
    background: #2125298a;
    padding: 10px 0px;
    border-bottom: 1px solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .menu-link {
    color: #fff;
    text-decoration: none;
  }
  
  .menu-content {
    display: none;
    padding: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.863);
    top: 5%;
    right: 5%;
    left: 5%;
    z-index: 1;
    height: 500px;
    overflow-y: scroll;
  }
  .menu-content::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
  }
  .menu-content::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  .menu-content::-webkit-scrollbar-thumb{
    background-color: #fff;
  }
  .offcanvas-body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
  }
  .offcanvas-body::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  .offcanvas-body::-webkit-scrollbar-thumb{
    background-color: #fff;
  }
  .menu-content h2 {
    color: #333;
  }
  
  .menu-content p {
    color: #666;
  }
  .menuBtnLeft, .menuBtnRight{
    background-color: #0000009e;
    color: white;
    position: absolute;
  }
  .menuBtnLeft:hover{
    background-color: rgba(255, 255, 255, 0.644);
  }
  .menuBtnRight:hover{
    background-color: rgba(255, 255, 255, 0.644);
  }
  .menuBtnLeft{
    top: 1.5%;
    left: 1%;
  }
  .menuBtnRight{
    top: 1.5%;
    right: 1%;
  }
  @media screen and (max-width:500px) {
    .menuBtnLeft{
      top: 1%;
      left: 1.3%;
    }
    .menuBtnRight{
      top: 1%;
      right: 1.3%;
    }
    .menu-content{
      top: 10% !important;
    }
  }
  /* sidebar */
  .leftSidebar, .rightSidebar{
    background-color: #000000cc;
    color: white;

  }
  .sidebarCancelIcon{
    cursor: pointer;
    color: white;
    font-size: 25px;
  }
.profile-img{
  text-align: center;
}
.profile-img img{
  height: 200px;
  width: 200px;
}
.profile-table table{
  background-color: #2125298a;
}